$yellow: #e8bf28;
$dark: #232728;
$white: #eee;

@mixin dark {
    background-color: $dark;
    color: $white;

    a,
    a:visited {
        color: $yellow;
    }
}

@mixin light {
    background-color: $white;
    color: $dark;

    a,
    a:visited {
        color: #44f;
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    @include dark;
    font-family: 'Atkinson Hyperlegible', sans;
    margin: 0;
    min-height: 100vh;
    min-height: 100lvh;
    display: flex;
    flex-direction: column;
}

header {
    @include light;
    background-color: $yellow;
    padding-block: 2em;
    margin-bottom: 2em;
    border-bottom: 1em solid darken($yellow, 30%);
    display: flex;
    gap: 1rem;
    align-items: center;

    .header__header {
        flex-grow: 1;

        h1 {
            font-weight: normal;
            margin-block: 0;
            font-size: 3rem;

            @media (max-width: 800px) {
                word-break: break-word;
                text-wrap: balance;
            }
        }
    }

    .header__rad {
        margin-block: -3em;

        @media (max-width: 800px) {
            display: none;
        }

        img {
            width: 7rem;
        }

    }
}

main {
    @include dark;
    flex-grow: 1;
    margin-bottom: auto;
    gap: 1em;
    align-content: start;

    section :first-child {
        margin-top: 0;
    }

    section :last-child {
        margin-bottom: 0;
    }
}

footer {
    @include dark;
    background-color: black;
    color: $white;
    padding: 1em;
    margin-top: 1em;
}

button {
    @include light;
    background-color: $yellow;
    border: 2px solid $yellow;
    padding: 4px 8px;
    margin: 0 8px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: lighten($yellow, 20);
    }

    &:active {
        @include dark;
        background-color: $dark;
    }
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 100ch) 1fr;

    >* {
        grid-column: 2;
    }
}

.projects {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media (max-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
    }

    grid-auto-flow: row dense;
    place-items: stretch;
    gap: 1em;

    .project {
        @include light;
        padding: 0.75em;
        min-height: 5em;
        list-style-type: none;

        // stolen from COMP/CON
        clip-path: polygon(0 0,
                0 100%,
                100% 100%,
                100% 1em,
                calc(100% - 1em) 0,
            );

        h3,
        p {
            margin: 0;
        }
    }
}

.col-span-2 {
    grid-column: span 2 / span 2;
}