{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hi, I'm SIGSTACKFAULT!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {{ macros::async_style(
    href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    )}}
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="container">
        {% block header %}
        {% endblock %}
    </header>
    <main class="container">
        {% block main %} {% endblock %}
    </main>
    <footer class="container">
        <div>
            &copy; SIGSTACKFAULT 2024 &bull;
            Made with <a href="https://getzola.org">Zola</a> &bull;
            Typeset in <a href="https://brailleinstitute.org/freefont">Atkinson</a> &bull;
            No Trackers!
        </div>
    </footer>
</body>

</html>