{% macro async_style(href, rel="stylesheet") %}
<link rel="{{rel}}" href="{{ href }}" media="print" onload="this.media='all'">
<noscript>
    <link rel="{{rel}}" href="{{ href }}">
</noscript>
{% endmacro async_style %}